{% extends 'base.html' %}
{% block title %}Réservation réussie{% endblock %}

{% block content %}
<h2>Réservation réussie !</h2>

<p><strong>Nom du passager :</strong> {{ reservation.nom_passager }}</p>
<p><strong>Email :</strong> {{ reservation.email_passager }}</p>
<p><strong>Téléphone :</strong> {{ reservation.telephone_passager }}</p>
<p><strong>Adresse :</strong> {{ reservation.adresse_passager }}</p>
<p><strong>Départ :</strong> {{ reservation.depart }}</p>
<p><strong>Destination :</strong> {{ reservation.destination }}</p>
<p><strong>Heure de départ :</strong> {{ reservation.heure_depart }}</p>

<hr>
<a href="{{ url_for('main.logout') }}">
    <button>Se déconnecter</button>
</a>
{% endblock %}