{% extends 'base.html' %}
{% block title %}Rechercher un trajet{% endblock %}
{% block content %}

<h2>Rechercher un trajet</h2>
<form method="POST">
    <label for="depart">Départ :</label>
    <input type="text" name="depart" id="depart"><br><br>

    <label for="destination">Destination :</label>
    <input type="text" name="destination" id="destination"><br><br>

    <button type="submit">Rechercher</button>
</form>

<hr>

<h2>Trajets disponibles</h2>

{% if trajets %}
    {% for trajet in trajets %}
        <p>
            <strong>Départ :</strong> {{ trajet.depart }}<br>
            <strong>Destination :</strong> {{ trajet.destination }}<br>
            <strong>Heure :</strong> {{ trajet.heure_depart }}<br>
            <strong>Places :</strong> {{ trajet.places }}<br>
            <strong>Itinéraire :</strong> {{ trajet.itineraire }}<br>
            <strong>Coût :</strong> {{ trajet.cout }} FCFA<br>
            <form method="POST" action="{{ url_for('main.reserver', trajet_id=trajet.id)}}">
                {% if trajet.places > 0 %}
                    <button type="submit">Réserver</button>
                {% else %}
                    <em>Complet</em>
                {% endif %}
            </form>
        </p>
        <hr>
    {% endfor %}
{% else %}
    <p>Aucun trajet disponible pour le moment.</p>
{% endif %}
{% endblock %}