{% extends 'base.html' %}
{% block title %}Ajouter un trajet{% endblock %}
{% block content %}
<h2>Ajouter un nouveau trajet</h2>

<form method="POST">
    <label>Lieu de départ:</label>
    <input type="text" name="depart" required><br>

    <label>Destination:</label>
    <input type="text" name="destination" required><br>

    <label>Heure de départ:</label>
    <input type="time" name="heure_depart" required><br>

    <label>Nombre de places:</label>
    <input type="number" name="places" required><br>

    <label>Itinéraire:</label>
    <select name="itineraire" required>
        <option value="péage">Péage</option>
        <option value="route nationale">Route Nationale</option>
    </select><br>

    <label>Coût du trajet (en FCFA):</label>
    <input type="number" name="cout" required><br>

    <button type="submit">Ajouter</button>
</form>

<p><a href="{{ url_for('main.dashboard_conducteur') }}">Retour au tableau de bord</a></p>
{% endblock %}
