{% extends 'base.html' %}
{% block title %}Tableau de bord Conducteur{% endblock %}
{% block content %}
<h2>Bienvenue, {{ session['email'] }}</h2>

<h3>Réservations reçues :</h3>
{% if reservations %}
    {% for r in reservations %}
        <p>
            <strong>Passager :</strong> {{ r.email_passager }}<br>
            <strong>Trajet :</strong> {{ r.depart }} → {{ r.destination }}<br>
            <strong>Heure :</strong> {{ r.heure_depart }}<br>
        </p>
        <hr>
    {% endfor %}
{% else %}
    <p>Aucune réservation pour l’instant.</p>
{% endif %}
{% endblock %}
